<h2>Employees list</h2>
<ul>
  <li *ngFor="let employee of listOfEmployees; trackBy: trackByEmployee">
    <p><span>Name:</span> {{ employee.name }}</p>
    <p><span>Surname:</span> {{ employee.surname }}</p>
    <p><span>Email:</span> {{ employee.email }}</p>
    <p><span>Phone:</span> {{ employee.phone }}</p>
    <p><span>Category:</span> {{ employee.category }}</p>
    <p><span>Information:</span> {{ employee.info }}</p>
    <div class="btns">
      <button
        color="warn"
        mat-raised-button
        (click)="deleteItem(employee.id)"
        *ngIf="isAdmin()">
        Delete
      </button>
      <button
        class="edit"
        mat-stroked-button
        color="accent"
        (click)="editItem(employee.id)"
        *ngIf="isAdmin()">
        Edit
      </button>
    </div>
  </li>
</ul>
