<h2>Employees list</h2>
<ul>
  <li *ngFor="let employee of listOfEmployees; trackBy: trackByEmployee">
    <p>Name: {{ employee.name }}</p>
    <p>Surname: {{ employee.surname }}</p>
    <p>Email: {{ employee.email }}</p>
    <p>Phone: {{ employee.phone }}</p>
    <p>Category: {{ employee.category }}</p>
    <p>Information: {{ employee.info }}</p>
    <div class="btns">
      <button color="warn" mat-raised-button (click)="deleteItem(employee.id)">
        Delete
      </button>
      <button
        class="edit"
        mat-stroked-button
        color="accent"
        (click)="editItem(employee.id)">
        Edit
      </button>
    </div>
  </li>
</ul>
