ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   li {
      list-style: none;
      width: 300px;
      height: 400px;
      border: 1px solid gray;
      padding: 20px;
      margin-bottom: 30px;
      .btns {
         display: flex;
         justify-content: space-around;
      }
   }
}