.header {
   height: 10vh;
   border-bottom: 2px solid grey;
   display: flex;
   justify-content: center;
   align-content: center;
   flex-wrap: wrap;
   a {
      text-decoration: none;
      color: black;
   }
}

