

nav {
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   gap: 20px;
   height: 50px;
   .button {
      text-decoration: none;
      color: inherit;
   }
}