<h2>Please enter your email and password</h2>
<section>
  <form [formGroup]="loginForm" (submit)="onSubmit()">
    <mat-form-field>
      <mat-label for="email">Email</mat-label>
      <input
        matInput
        id="email"
        type="email"
        formControlName="email"
        placeholder="Ex. pat@example.com" />
      @if (!loginForm.get('email')?.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
      }
      @if (loginForm.get('email')?.hasError('required')) {
        <mat-error>Email is <strong>required!</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label for="pass">Password</mat-label>
      <input matInput id="pass" type="password" formControlName="password" />
      @if (loginForm.get('password')?.hasError('minlength')) {
        <mat-error>Password must have at least 6 symbols!</mat-error>
      }
      @if (loginForm.get('password')?.hasError('required')) {
        <mat-error>Password is <strong>required!</strong></mat-error>
      }
    </mat-form-field>
    <button class="submit_btn" mat-raised-button [disabled]="loginForm.invalid">
      Login
    </button>
    <div class="error">{{ errorMessage }}</div>
  </form>
</section>
