<h2>Add New Item</h2>
<section>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="input_wrapper">
      <mat-label for="name">Name</mat-label>
      <input matInput id="name" type="text" formControlName="name" />
      <mat-error *ngIf="profileForm.get('name')?.errors?.['required']">
        Name is <strong>required!</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="surname">Surname</mat-label>
      <input matInput id="surname" type="text" formControlName="surname" />
      <mat-error *ngIf="profileForm.get('surname')?.errors?.['required']">
        Surname is <strong>required!</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="email">Email</mat-label>
      <input
        matInput
        id="email"
        type="email"
        formControlName="email"
        placeholder="Ex. pat@example.com" />
      <mat-error *ngIf="profileForm.get('email')?.errors?.['email']">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="profileForm.get('email')?.errors?.['required']">
        Email is <strong>required!</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="phone">Phone</mat-label>
      <input
        type="text"
        id="phone"
        formControlName="phone"
        matInput
        placeholder="Min. length 10 numbers" />
      <mat-error *ngIf="profileForm.get('phone')?.errors?.['required']">
        Phone is <strong>required!</strong>
      </mat-error>
      <mat-error
        *ngIf="
          profileForm.get('phone')?.errors?.['minlength'] &&
          profileForm.get('phone')?.errors?.['pattern']
        ">
        Please enter a valid phone number
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select category</mat-label>
      <mat-select formControlName="category">
        <mat-option value="one">First category</mat-option>
        <mat-option value="two">Second category</mat-option>
      </mat-select>
      <mat-error *ngIf="profileForm.get('category')?.errors?.['required']"
        >Category is <strong>required!</strong></mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label for="info">Additional information</mat-label>
      <textarea matInput id="info" formControlName="info"></textarea>
    </mat-form-field>
    <button
      class="submit_btn"
      mat-raised-button
      [disabled]="profileForm.invalid">
      Submit
    </button>
  </form>
</section>
